@use "@swagger/global" as *;

@use "SummaryMethod/summaryMethod";
@use "SummaryDescriptionWrapper/summaryDescriptionWrapper";

%summaryControl {
  .opblock-summary-control {
    display: flex;
    gap: 1rem;
    outline: none;
    background-color: transparent;
    @include for-small-screens {
      min-height: 2.375rem;
    }
    @extend %summaryMethod;
    @extend %summaryDescriptionWrapper;
  }
}
