@import "../../../SwaggerVariables/variables";
@import "../../../SwaggerTheme/theme";

$postColorTheme: #38B386;
$putColorTheme: #FFC01E;
$getColorTheme: #1EAEFF;
$deleteColorTheme: #DC3939;
$patchColorTheme: #9B59B6;

$deprecatedTextColor: #969B9D;
$deprecatedBorderColor: #E1E7EA;
$deprecatedBackgroundColor: #F4F5F6;

@mixin opblockMethod($method, $color) {
  &.opblock-#{$method} {
    border-color: $color;
    .opblock-summary-#{$method} {
      outline: 1px solid $color;
      background-color: rgba($color, 0.1);
      .opblock-summary-control {
        .opblock-summary-method {
          color: $color;
        }
      }
    }
    .opblock-body {
      .opblock-section-header, .opblock-section-request-body, & > .opblock-description-wrapper, .parameters-container {
        border-bottom: 1px solid $color;
      }
    }
  }
}

%operationMethodsTheme {
  @include opblockMethod('post', $postColorTheme);
  @include opblockMethod('put', $putColorTheme);
  @include opblockMethod('get', $getColorTheme);
  @include opblockMethod('delete', $deleteColorTheme);
  @include opblockMethod('patch', $patchColorTheme);

  &.opblock-deprecated {
    opacity: 1;
    .opblock-summary {
      outline: 1px solid $deprecatedBorderColor;
      background-color: $deprecatedBackgroundColor;
    }
    .opblock-summary-control {
      .opblock-summary-method {
        color: $deprecatedTextColor;
      }
      .opblock-summary-path__deprecated {
        text-decoration: none;
        a {
          span {
            @include buttonText($grey300);
            text-decoration: none;
          }
        }
      }
      .opblock-summary-path-description-wrapper {
        .opblock-summary-path__deprecated {
          text-decoration: none;
          a {
            span {
              text-decoration: none;
              @include buttonText($grey300);
              @media screen and (max-width: $sm) {
                @include medium16($grey300);
              }
            }
          }
        }
        .opblock-summary-description {
          @include medium15($grey400);
          @media screen and (max-width: $sm) {
            @include medium12($grey400);
          }
        }
      }
    }
    .opblock-body {
      .opblock-section-header {
        border-bottom: 1px solid $deprecatedBorderColor;
        box-shadow: none;
      }
      .parameters-container {
        border-bottom: 1px solid $deprecatedBorderColor;
      }
    }
  }
}
