@use '@swagger/global' as *;

@use 'backdrop/backdrop';
@use 'modal-content/modal-content';

%modal {
  .dialog-ux {
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    @include for-small-screens {
      position: absolute;
    }
    @media screen and (max-width: $xs-sm) {
      position: fixed;
      top: 0;
    }
    @extend %backdrop;
    @extend %modalContent;
  }
}
