@import "../../../SwaggerVariables/variables";
@import "../../../SwaggerTheme/theme";

@import "SectionHeader/sectionHeader";
@import "SectionRequestBody/sectionRequestBody";
@import "ParametersContainer/parametersContainer";

%operationParameters {
  .opblock-section {
    @extend %sectionHeader;
    @extend %sectionRequestBody;
    @extend %parametersContainer;
    &.operation-servers {
      .opblock-description-wrapper {
        margin-bottom: 0;
        h4.message {
          margin-bottom: 0.5rem;
          @include medium14($grey200);
        }
      }
    }
  }
  .btn-group {
    padding: 0.75rem 1.5rem 0;
    gap: 0.5rem;
    .execute {
      flex: 0;
      @include medium15($white);
      @include uiButton($primary, none, 1rem 3.5rem);
    }
    .btn-clear {
      flex: 0;
      @include medium15($darkPrimary);
      @include uiButton($white, 1px solid $grey300, 1rem 3.5rem);
    }
  }
}
