@use "@swagger/global" as *;

@use "RequestBodyHeader/requestBodyHeader";

%sectionRequestBody {
  .opblock-section-request-body {
    @extend %requestBodyHeader;
    & > .opblock-description-wrapper {
      margin-bottom: 0;
      padding: 0 20px 12px 24px;
      .body-param {
        margin-top: 0.75rem;
      }
    }
  }
}
