.git
.idea
.vscode
.stryker-tmp

# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Test and coverage
coverage
playwright-report
stryker.log
**/test-results

# Cache and logs
.cache
*.log

storybook-static