# Ignore artifacts:
.lighthouseci
# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Testing
.stryker-tmp
**/.stryker-tmp/**
coverage
.nyc_output
**/*.snap
playwright-report/
lhci-reports-desktop/
lhci-reports-mobile/

# Storybook
storybook-static/

# Cache
.cache
.eslintcache
.stylelintcache
.npm


# Misc
*.log
*.lock
yarn-error.log
.github
.husky