.lighthouseci

node_modules
.pnpm-store

.next
out
dist
build

.stryker-tmp
**/.stryker-tmp/**
coverage
.nyc_output
**/*.snap
playwright-report/
lhci-reports-desktop/
lhci-reports-mobile/

storybook-static/

.cache
.eslintcache
.stylelintcache
.npm

*.log
*.lock
yarn-error.log
.github
.husky