@use "@swagger/global" as *;

%backdrop {
  .backdrop-ux {
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    z-index: 900;
    bottom: 0;
    background: $backdropBackgroundWithBlur;
    @supports (backdrop-filter: blur(0.125rem)) {
      backdrop-filter: blur(0.125rem);
    }
    @supports not (backdrop-filter: blur(0.125rem)) {
      background: $backdropBackgroundWithoutBlur;
    }
    @include for-small-screens {
      top: 3.5rem;
    }
  }
}
