@import "../../../../SwaggerVariables/variables";
@import "../../../../SwaggerTheme/theme";

%sectionRequestBody {
  .opblock-section-request-body {
    .opblock-section-header {
      .opblock-title {
        @include medium15($grey200);
        @media (min-width: 641px) and (max-width: $lg) {
          @include demi18($grey200);
        }
        &.required {
          &::after {
            content: '*required';
            margin-left: 6px;
            padding: 0.25rem 0.375rem;
            border-radius: 0.25rem;
            background-color: #DC39391A;
            @include medium12($error);
          }
        }
      }
    }
    & > .opblock-description-wrapper {
      margin-bottom: 0;
      padding: 0 20px 12px 24px;
      .body-param {
        .body-param__text {
          margin-top: 0.75rem;
          margin-bottom: 0;
          padding: 1rem;
          border: 1px solid $brandGray;
          border-radius: 0.5rem;
          resize: none;
          min-height: 16.625rem;
          @include medium14($darkPrimary);
        }
      }
    }
  }
}
