@use "@swagger/global" as *;

@use "UserSchema/_userSchema";
@use "NestedSchema/_nestedSchema";

%modelBox {
  .model-box {
    padding: 0.625rem 1rem 0.625rem 0.8rem;
    background-color: $grey400;
    border: 1px solid $grey400;
    @extend %userSchema;
    @extend %nestedSchema;
    &:focus-within, &:hover {
      background-color: $backgroundGrey200;
      border: 1px solid $grey400;
    }
    &:focus-within {
      @include for-small-screens {
        z-index: 1000;
        position: absolute;
        left: 2rem;
        right: 2rem;
      }
    }
  }
}
