@use '@swagger/global' as *;

$deprecatedTextColor: #969b9d;
$deprecatedBorderColor: #e1e7ea;
$deprecatedBackgroundColor: #f4f5f6;

%deprecatedMethod {
  &.opblock-deprecated {
    opacity: 1;
    .opblock-summary {
      outline: 1px solid $deprecatedBorderColor;
      background-color: $deprecatedBackgroundColor;
    }
    .opblock-summary-control {
      .opblock-summary-method {
        color: $deprecatedTextColor;
      }
      .opblock-summary-path__deprecated {
        text-decoration: none;
        a {
          span {
            @include buttonText($grey300);
            text-decoration: none;
          }
        }
      }
      .opblock-summary-path-description-wrapper {
        .opblock-summary-path__deprecated {
          text-decoration: none;
          a {
            span {
              text-decoration: none;
              @include buttonText($grey300);
              @include for-small-screens {
                @include medium16($grey300);
              }
            }
          }
        }
        .opblock-summary-description {
          @include medium15($grey400);
          @include for-small-screens {
            @include medium12($grey400);
          }
        }
      }
    }
    .opblock-body {
      .opblock-section-header {
        border-bottom: 1px solid $deprecatedBorderColor;
        box-shadow: none;
      }
      .parameters-container {
        border-bottom: 1px solid $deprecatedBorderColor;
      }
    }
  }
}
