@use "@swagger/global" as *;

%summaryMethod {
  .opblock-summary-method {
    min-width: auto;
    background-color: $white;
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem;
    text-shadow: none;
    @include typography($darkPrimary, 1rem, 600, 1.625rem);
    @include for-small-screens {
      padding: 0;
      min-width: auto;
      background: transparent;
      @include demiBold14;
    }
  }
}
