@use "@swagger/global" as *;

%userSchema {
  article.json-schema-2020-12 {
    div.json-schema-2020-12-head {
      display: flex;
      align-items: center;
      button.json-schema-2020-12-accordion {
        span {
          @include uiIcon($arrowRight, 1.2rem, 1.2rem);
        }
      }
      button.json-schema-2020-12-expand-deep-button {
        @include demiBold14($darkPrimary);
      }
      strong {
        @include demiBold14($primary);
      }
    }
    div.json-schema-2020-12-body {
      border: none;
      margin-top: 1rem;
      margin-bottom: 0;
      div {
        margin-top: 0;
        margin-bottom: 0;
        ul {
          li {
            margin: 0;
            article {
              margin: 0;
              div.json-schema-2020-12-head {
                display: flex;
                column-gap: 0.375rem;
                row-gap: 0.2rem;
                flex-wrap: wrap;
                div.json-schema-2020-12__title {
                  @include medium14($grey200);
                }
                strong {
                  padding: 0;
                }
              }
            }
          }
          li:not(:last-child) {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}
