@use "@swagger/global" as *;

@use "SummaryControl/summaryControl";
@use "ControlArrow/controlArrow";

%operationSummary {
  .opblock-summary {
    position: relative;
    box-sizing: border-box;
    padding: 0.25rem 0.875rem 0.25rem 0.313rem;
    border-radius: 0.45rem;
    border: none;
    @include for-large-screens {
      padding-right: 1.5rem;
    }
    @include for-small-screens {
      padding: 0.438rem 1rem 0.438rem 0.75rem;
    }
    @extend %summaryControl;
    @extend %controlArrow;
    .authorization__btn {
      @include uiIcon($lock);
      margin-right: 0.625rem;
      padding-left: 0;
      @include for-small-screens {
        @include uiIcon($lockSmall, 1.25rem, 1.25rem);
      }
      svg {
        opacity: 1;
      }
    }
    .view-line-link {
      display: none;
    }
  }
}
