$pathToImages: '/images/swagger/';

$selectArrowUrl: url('#{$pathToImages}select-arrow.svg');
$closeIconUrl: url('#{$pathToImages}close-icon.svg');
$arrowTopUrl: url('#{$pathToImages}arrow-top.svg');
$arrowDown: url('#{$pathToImages}arrow-down.svg');
$arrowDownDark: url('#{$pathToImages}arrow-down-dark.svg');
$arrowDownDarkSmall: url('#{$pathToImages}arrow-down-dark-small.svg');
$lock: url('#{$pathToImages}lock.svg');
$lockSmall: url('#{$pathToImages}lock-small.svg');
$arrowRight: url('#{$pathToImages}arrow-right.svg');
$arrowRightLight: url('#{$pathToImages}arrow-right-light.svg');
$checkIcon: url('#{$pathToImages}check-icon.svg');
$copy: url('#{$pathToImages}copy.svg');
