@use "@swagger/global" as *;

@use "OperationParameters/operationParameters";
@use "Responses/responses";
@use "ExecuteButtons/executeButtons";
@use "Description/description";
@use "SectionRequestBody/sectionRequestBody";

%operationBody {
  .opblock-body {
    @extend %description;
    @extend %parameters;
    @extend %responses;
    @extend %executeButtons;
    @extend %sectionRequestBody;
    .validation-errors {
      border-radius: 0.5rem;
      border: 1px solid $errorBorder;
      background: $errorBackground;
      @include medium15($error);
      ul {
        margin-top: 0.75rem;
        list-style: none;
        li:not(:last-child) {
          margin-bottom: 0.375rem;
        }
      }
    }
    .loading-container {
      margin: 0;
      padding: 2rem;
      .loading {
        &::before {
          position: static;
          margin: 0;
          border-width: 3px;
          border-top-color: $darkPrimary;
          height: 1.625rem;
          width: 1.625rem;
        }
        &::after {
          display: none;
        }
      }
    }
  }
}
