@use "@swagger/global" as *;

@use "DescriptionCheckbox/descriptionCheckbox";
@use "DescriptionInput/descriptionInput";
@use "Markdown/markdown";

%descriptionColumn {
  .parameters-col_description {
    @extend %descriptionInput;
    @extend %markdown;
    label.parameter__empty_value_toggle {
      display: inline-flex;
      gap: 0.625rem;
      cursor: pointer;
      align-items: center;
      opacity: 1;
      pointer-events: none;
      padding-top: 0.5rem;
      padding-bottom: 0;
      @include medium14($grey200);
      @include for-small-screens {
        gap: 0.375rem;
        @include medium12($grey200);
      }
      @extend %descriptionCheckbox;
    }
  }
}
