@use "@swagger/global" as *;

%headersTable {
  .headers-wrapper {
    @include for-small-screens {
      display: none;
    }
    .headers__title {
      margin-top: 0.875rem;
      margin-bottom: 0;
      @include medium15($darkPrimary);
    }
    table.headers {
      margin-top: 0.75rem;
      thead {
        tr.header-row {
          th:not(:first-child) {
            padding-left: 0.75rem;
          }
          th {
            padding-top: 0;
            padding-bottom: 0.75rem;
            border-bottom: 1px solid $grey300;
            @include medium15($grey200);
          }
        }
      }
      tbody {
        tr {
          td:not(:first-child) {
            padding-left: 0.75rem;
          }
          td {
            min-width: min-content;
            vertical-align: middle;
            padding-top: 0.75rem;
            padding-bottom: 0;
            @include medium14($grey200);
            @include for-large-screens {
              @include medium12($grey200);
            }
            .header-example {
              word-break: break-word;
              font-style: normal;
              @include medium14($grey300);
              @include for-large-screens {
                @include medium12($grey300);
              }
            }
          }
        }
      }
    }
  }
}
