@use "@swagger/global" as *;

@use "StatusColumn/statusColumn";
@use "DescriptionColumn/descriptionColumn";

%responseTableBody {
  tbody {
    tr.response:first-child {
      td.response-col_status, td.response-col_description {
        padding-top: 0.625rem;
        @include for-small-screens {
          padding-top: 0.438rem;
        }
      }
      td.response-col_status {
        border-top-left-radius: 0.25rem;
      }
      td.response-col_description {
        border-top-right-radius: 0.25rem;
      }
    }
    tr.response:last-child {
      td.response-col_status {
        border-bottom-left-radius: 0.25rem;
      }
      td.response-col_description {
        border-bottom-right-radius: 0.25rem;
      }
    }
    td.response-col_status, td.response-col_description {
      padding-top: 0;
      padding-bottom: 1rem;
      @include for-small-screens {
        padding-bottom: 0.375rem;
      }
    }
    @extend %statusColumn;
    @extend %descriptionColumn;
  }
}
