@use "@swagger/global" as *;

@use "ParametersDescription/parametersDescription";
@use "ParametersTableHead/parametersTableHead";
@use "ParametersTableBody/parametersTableBody";

%parametersContainer {
  .parameters-container {
    @extend %parametersDescription;
    .table-container {
      padding: 0.75rem 1.563rem;
      @include for-large-screens {
        padding: 0.75rem 1.5rem;
      }
      @include for-small-screens {
        padding: 0.75rem 1rem;
      }
      @extend %parametersTableHead;
      @extend %parametersTableBody;
    }
  }
}
