@use '@swagger/global' as *;

@use 'ParametersDescription/parametersDescription';
@use 'ParametersTableHead/parametersTableHead';
@use 'ParametersTableBody/parametersTableBody';

%parametersContainer {
  $desktop-padding: 0.75rem 1.5rem;
  $tablet-padding: 0.75rem 1.563rem;
  $mobile-padding: 0.75rem 1rem;

  .parameters-container {
    @extend %parametersDescription;

    .table-container {
      padding: $tablet-padding;

      @include for-large-screens {
        padding: $desktop-padding;
      }
      @include for-small-screens {
        padding: $mobile-padding;
      }
      @extend %parametersTableHead;
      @extend %parametersTableBody;
    }
  }
}
