@use '@swagger/global' as *;

@mixin modal-h4() {
  margin-top: 0 !important;
  margin-bottom: 0.75rem !important;
  @include demi18($darkPrimary);
}

%authForm {
  form {
    display: flex;
    padding-bottom: 1.25rem;
    justify-content: space-between;
    gap: 0.625rem;
    position: relative;
    @include for-small-screens {
      padding-bottom: 1rem;
      flex-direction: column;
      gap: 0.5rem;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      left: -1.5rem;
      right: -1.25rem;
      background-color: $grey500;
    }
    & > div {
      flex-shrink: 0;
    }
    h4 {
      @include modal-h4;
    }
    .wrapper {
      p {
        margin-bottom: 0.5rem;
        @include medium12($grey200);
        font-weight: 400;
        @include for-small-screens {
          word-break: break-all;
        }
        code {
          @include medium12($darkPrimary);
        }
      }
      label {
        display: inline-block;
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        @include medium12($grey200);
      }
    }
  }
}
