$pathToImages: '../../../../../assets/svg/swagger/';

$selectArrowUrl: url('#{$pathToImages}select-arrow.svg');
$closeIconUrl: url('#{$pathToImages}close-icon.svg');
$arrowTopUrl: url('#{$pathToImages}arrow-top.svg');
$arrowDown: url('#{$pathToImages}arrow-down.svg');
