@use "../../../../../Global/global" as *;

%responseHeader {
  .opblock-section-header {
    padding: 0.625rem 1.5rem;
    box-shadow: none;
    @media screen and (max-width: $lg) {
      padding: 0.75rem 1.5rem;
    }
    @media screen and (max-width: $sm) {
      flex-direction: column;
      align-items: normal;
      gap: 0.438rem;
      padding: 1rem 0.75rem 0.75rem;
      border-bottom: none;
      box-shadow: none;
    }
    h4 {
      @include medium15($grey200);
      @media screen and (min-width: $sm) and (max-width: $lg) {
        @include demi18($grey200);
      }
    }
    label {
      @media screen and (max-width: $sm) {
        flex-direction: column;
        align-items: normal;
        gap: 0.25rem;
        margin: 0;
      }
      span {
        padding-right: 0.75rem;
        @include bodyText16($grey250);
        @media screen and (max-width: $sm) {
          @include bodyTextMobile($grey250);
        }
      }
    }
  }
}
