@use '@swagger/global' as *;

@use 'summary-method/summary-method';
@use 'summary-description-wrapper/summary-description-wrapper';

%summaryControl {
  .opblock-summary-control {
    display: flex;
    align-items: center;
    gap: 1rem;
    outline: none;
    background-color: transparent;
    border: none;
    @include for-small-screens {
      gap: 0.75rem;
      min-height: 2.375rem;
    }
    @extend %summaryMethod;
    @extend %summaryDescriptionWrapper;
  }
}
