@use "@swagger/global" as *;

%parametersTableHead {
  thead {
    th {
      padding: 0 0 0.688rem;
      border-bottom: none;
      @include medium15($grey200);
      @include for-small-screens {
        padding: 0 0 0.5rem;
        @include medium12($grey200);
      }
    }
    .parameters-col_name {
      padding-left: 1.063rem;
      @include for-small-screens {
        padding-left: 0.625rem;
      }
    }
  }
}
