@use "@swagger/global" as *;

%description {
  & > .opblock-description-wrapper {
    margin: 0;
    padding: 1.219rem 1.5rem;
    @include for-small-screens {
      padding: 1rem 1rem 1rem 0.75rem;
    }
    .opblock-description {
      .renderedMarkdown, .markdown {
        p {
          margin: 0;
          @include medium14($grey200);
          @include for-large-screens {
            @include demiBold14($grey200);
          }
          @include for-small-screens {
            @include medium12($grey200);
          }
        }
      }
    }
  }
}
