@use "@swagger/global" as *;

%description {
  & > .opblock-description-wrapper {
    margin: 0;
    padding: 1.219rem 1.5rem;
    @media screen and (max-width: $sm) {
      padding: 1rem 1rem 1rem 0.75rem;
    }
    .opblock-description {
      .renderedMarkdown, .markdown {
        p {
          margin: 0;
          @include medium14($grey200);
          @media screen and (max-width: $lg) {
            @include demiBold14($grey200);
          }
          @media screen and (max-width: $sm) {
            @include medium12($grey200);
          }
        }
      }
    }
  }
}
