@import "../SwaggerVariables/variables";

$selectFileText: 'Select file';
$chooseFileText: 'Choose file';

@mixin uiIconButton($path, $width: 1.5rem, $height: 1.5rem) {
  line-height: 0;
  svg {
    width: $width;
    height: $height;
    fill: transparent;
    background-image: url($path);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

@mixin uiInput($height, $min-width, $padding-left) {
  margin: 0;
  height: $height;
  width: $min-width;
  padding:  0 0 0 $padding-left;
  border-radius: 0.5rem;
  background-color: $white;
  border: 1px solid $grey400;
  outline: none;
  &:hover, &:focus {
    border-color: $grey300;
  }
  &:disabled {
    background-color: $brandGray;
    border-color: $brandGray;
  }
  &[type="file"] {
    cursor: pointer;
    position: relative;
    color: transparent;
    @media screen and (max-width: $sm) {
      height: 5.125rem;
    }
    &::after, &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @media screen and (max-width: $sm) {
        transform: none;
      }
    }
    &::before {
      content: $selectFileText;
      position: absolute;
      left: 1.75rem;
      @include medium14($darkPrimary);
      @media screen and (max-width: $lg) {
        @include medium16($darkPrimary);
      }
      @media screen and (max-width: $sm) {
        left: 1rem;
        top: 0.625rem;
        @include medium14($darkPrimary);
      }
    }
    &:disabled {
      cursor: not-allowed;
    }
    &:disabled::before {
      color: $grey300;
    }
    &::after {
      content: $chooseFileText;
      padding: 0.5rem 1.5rem;
      right: 0.5rem;
      background-color: $primary;
      border-radius: 3.5rem;
      @include medium15($white);
      @media screen and (max-width: $sm) {
        left: 1rem;
        top: 2.25rem;
        width: min-content;
      }
    }
    &:hover::after {
      background-color: $containedButtonHover;
    }
    &:disabled::after {
      color: $grey300;
      background: $grey400;
    }
    &:focus::after {
      background-color: $containedButtonActive;
    }
    &::-webkit-file-upload-button {
      display: none;
    }
    &::file-selector-button {
      display: none;
    }
  }
  @content;
}

@mixin uiLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

@mixin uiSelect($height, $padding-right: 5.5rem) {
  cursor: pointer;
  outline: none;
  height: $height;
  padding: 0 $padding-right 0 0.75rem;
  border: 1px solid $brandGray;
  background: $white url('../../../../../../public/selectArrow.svg') right 0.625rem center no-repeat;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.688rem 0 $selectShadow;
  min-width: auto;
  &:hover, &:active {
    border-color: $grey400;
  }
  @content;
}

@mixin buttonColor($backgroundColor, $backgroundHoverColor, $backgroundActiveColor, $textColor, $borderColor: none, $borderHoverColor: none, $borderActiveColor: none) {
  background-color: $backgroundColor;
  @if $borderColor == none {
    border: none;
  } @else {
    border: 1px solid $borderColor;
  }
  &:hover {
    color: $textColor;
    background-color: $backgroundHoverColor;
    border-color: $borderHoverColor;
  }
  &:active {
    color: $textColor;
    background-color: $backgroundActiveColor;
    border-color: $borderActiveColor;
  }
}

@mixin uiButton($color, $padding: 1rem 1.5rem) {
  box-shadow: none;
  padding: $padding;
  border-radius: 3.563rem;
  @if $color == 'primary' {
    @include buttonColor($primary, $containedButtonHover, $containedButtonActive, $white);
  } @else if $color == 'secondary' {
    @include buttonColor($white, $grey500, $white, $darkPrimary, $grey300, $grey500, $grey500);
  } @else if $color == 'error' {
    @include buttonColor($errorBackground, $error, $errorBorder, $white, $errorBorder, $error, $errorBorder);
  }
  @content;
}

@mixin typography($color, $fontSize, $fontWeight, $lineHeight, $letterSpacing: normal, $fontFamily: $golos) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-family: $fontFamily;
  letter-spacing: $letterSpacing;
}

@mixin medium12($color: $grey250) {
  @include typography($color, 0.75rem, 500, 1.125rem, normal, $inter);
}

@mixin medium14($color: $grey200) {
  @include typography($color, 0.875rem, 500, 1.125rem, normal, $inter);
}

@mixin medium15($color: $grey250) {
  @include typography($color, 0.9375rem, 500, 1.125rem);
}

@mixin medium16($color: $grey300) {
  @include typography($color, 1rem, 500, 1.125rem, normal, $inter);
}

@mixin regular16($color: $grey300) {
  @include typography($color, 1rem, 500, 1.125rem);
}

@mixin regular18($color: $grey300) {
  @include typography($color, 1.125rem, 400, 1.125rem, normal, $inter);
}

@mixin bodyText16($color: $darkPrimary) {
  @include typography($color, 1rem, 400, 1.625rem);
}

@mixin bodyText18($color: $darkPrimary) {
  @include typography($color, 1.125rem, 400, 1.875rem);
}

@mixin bodyTextMobile($color: $darkPrimary) {
  @include typography($color, 0.9375rem, 400, 1.563rem);
}

@mixin buttonText($color: $white) {
  @include typography($color, 1.125rem, 600, normal);
}

@mixin demi18($color: $darkPrimary) {
  @include typography($color, 1.125rem, 600, 1.05rem);
}

@mixin demi16($color: $darkPrimary) {
  @include typography($color, 1rem, 600, 1.05rem);
}

@mixin demiBold14($color: $darkPrimary) {
  @include typography($color, 0.875rem, 600, 1.05rem);
}

@mixin bold22($color: $grey250) {
  @include typography($color, 1.375rem, 700, 1.05rem);
}

@mixin link14($color: $primary) {
  @include typography($color, 0.875rem, 700, 1.125rem);
}

@mixin link16($color: $primary) {
  @include typography($color, 1.125rem, 700, 1.125rem);
}

@mixin h2MobileText($color: $darkPrimary) {
  @include typography($color, 1.75rem, 700, 2.1rem);
}

@mixin h2Text($color: $darkPrimary) {
  @include typography($color, 2.875rem, 700, 3.45rem);
}

@mixin h3Text($color: $darkPrimary) {
  @include typography($color, 2.25rem, 600, normal);
}

@mixin h4Text($color: $darkPrimary) {
  @include typography($color, 1.875rem, 600, normal);
}

@mixin h5Text($color: $darkPrimary) {
  @include typography($color, 1.75rem, 700, normal);
}
