@use "@swagger/global" as *;

@use "ResponseControls/responseControls";

%descriptionColumn {
  td.response-col_description {
    padding-right: 1rem;
    @include for-small-screens {
      padding-right: 0.625rem;
    }
    @extend %responseControls;
    div.response-col_description__inner {
      div.renderedMarkdown {
        p {
          @include medium14($grey200);
          @include for-small-screens {
            @include medium12($grey200);
          }
        }
      }
    }
    div:not([class]) {
      h5 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        @include medium15($grey200);
      }
    }
    div:not([class]):not(:last-child) {
      margin-bottom: 1rem;
    }
    & > .renderedMarkdown {
      & > p {
        margin-bottom: 0.625rem;
        strong {
          @include medium15($grey200);
          @include for-large-screens {
            @include medium12($grey200);
          }
        }
      }
      ul {
        list-style: none;
        li {
          @include medium14($grey200);
          @include for-small-screens {
            @include medium12($grey200);
          }
        }
      }
    }
  }
}
