$primary: #1eaeff;
$secondary: #ffc01e;

$error: #dc3939;
$errorBorder: #df7878;
$errorBackground: #dc39391a;

$accept: #38b386;

$white: #fff;
$darkPrimary: #1a1c1e;
$darkSecondary: #1b2327;

$brandGrey: #e1e7ea;
$grey200: #404142;
$grey250: #57595b;
$grey300: #969b9d;
$grey400: #d0d4d8;
$grey500: #eaecee;

$backgroundGrey100: #fbfbfb;
$backgroundGrey200: #f4f5f6;
$backgroundGrey300: #f5f6f7;

$containedButtonHover: #00a3ff;
$containedButtonActive: #0399ed;

$notchDeskBefore: #080805;
$notchDeskAfter: #0e314c;
$notchMobileBefore: #0c0b0e;
$notchMobileAfter: #0f0b25;

$textLinkHover: #297fff;
$textLinkActive: #0399ed;

$backdropBackgroundWithBlur: #364f5d0d;
$backdropBackgroundWithoutBlur: #ffffff66;
$shadowDarkGreyOpacity: #33374714;
$selectShadow: #313b4324;
