$primary: #1EAEFF;
$secondary: #FFC01E;

$error: #DC3939;
$errorBorder: #DF7878;
$errorBackground: #DC39391A;

$accept: #38B386;

$white: #FFF;
$darkPrimary: #1A1C1E;
$darkSecondary: #1B2327;

$brandGrey: #E1E7EA;
$grey200: #404142;
$grey250: #57595B;
$grey300: #969B9D;
$grey400: #D0D4D8;
$grey500: #EAECEE;

$backgroundGrey100: #FBFBFB;
$backgroundGrey200: #f4f5f6;
$backgroundGrey300: #F5F6F7;

$containedButtonHover: #00A3FF;
$containedButtonActive: #0399ED;

$notchDeskBefore: #080805;
$notchDeskAfter: #0e314c;
$notchMobileBefore: #0c0b0e;
$notchMobileAfter: #0f0b25;

$textLinkHover: #297FFF;
$textLinkActive: #0399ED;


$backdropBackgroundWithBlur: #364F5D0D;
$backdropBackgroundWithoutBlur: #FFFFFF66;
$shadowDarkGreyOpacity: #33374714;
$selectShadow: #313b4324;
