@use '@swagger/global' as *;

$loading-spinner-size: 1.625rem;

%loading {
  .loading-container {
    margin: 0;
    padding: 2rem;
    .loading {
      &::before {
        position: static;
        margin: 0;
        border-width: 3px;
        border-top-color: $darkPrimary;
        height: $loading-spinner-size;
        width: $loading-spinner-size;
      }
      &::after {
        display: none;
      }
    }
  }
}
